.qr-div {
    width: 600px;
    height: 600px;
    margin: 0;
    background: no-repeat center;
    display: inline-table;
}

.qr-div--qr {
    position: relative;
    top: 10px;
    left: 10px;
    height: 256px;
    width: 256px;
}
