@font-face {
  font-family: "NotoSans Regular";
  src:
  url("fonts/NotoSans-Regular.woff"), /* Pretty Modern Browsers */
  url("fonts/NotoSans-Regular.woff2"), /* Super Modern Browsers */
  url("fonts/NotoSans-Regular.eot"),
  url("fonts/NotoSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #000034;
}

.App {
  /*text-align: center;*/
  color: #EEE;
  font-size: calc(10px + 0.6vmin);
  line-height: calc(10px + 1.2vmin);
  font-family: 'NotoSans Regular', Fallback, sans-serif;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.line {
  height:1px;
  background-color: #1E1B49;
}

.content-wrapper {
  position: absolute;
  top: 80px;
  bottom: 130px;
  overflow: auto;
  margin: 10px auto 0 auto;
  width: 100%;
  padding: 0 10px;
}

.content {
  max-width: 850px;
  margin: 0 auto;
}

.tool-dropdown {
  margin-top: 2vh;
}

.dropdown-toggle {
  font-size: calc(10px + 1.1vmin);
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover, .a:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

/* Special input width */
.index-input {
  width: 300px;
}

.count-input {
  width: 260px;
}

.btn-primary {
    color: #fff;
    background-color: #4a90e2;
    border-color: #4a90e2;
    margin-right: 20px;
}

.btn-primary:focus {
    box-shadow: none;
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-outline-secondary:focus {
  box-shadow: none;
}

.btn-active {
  background-color: #6C757D;
  color: #FFF;
}

/* Medium width button */
.btn-medium {
  width: 130px;
  margin-bottom: 2vh;
}

/* Max min button */
.max-btn {
  width: 48px;
}

.QR-container {
  width: 148px;
  height: 148px;
  padding: 10px;
  background-color: #EEE;
}
.QR-img {
  width: 128px;
  height: 128px;
}

/* The left thing of input boxes */
.input-group-prepend, .input-group-text {
  width: 110px;
}

/* Visible content to activate if no javascript */
.noscript {
  display: none;
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  margin: 2em 0 0.5em 0 !important;
  color: #e36767;
}

.hidden {
  display: none;
}

.footer {
  background-color: #000034;
  text-align: center;
  height: 130px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .line {
  margin-bottom: 10px;
}

.footer .form-control {
  border-radius: 0;
}

.footer .input-group {
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  h1{font-size: 2rem;}
  .App {
    font-size: calc(10px + 0.5vmin);
    line-height: calc(10px + 1.1vmin);
  }
}

@media screen and (max-width: 600px) {
  h1{font-size: 1.8rem;}
  .App {
    font-size: calc(10px + 0.4vmin);
    line-height: calc(10px + 1.0vmin);
  }
}
