@font-face {
  font-family: "NotoSans Regular";
  src:
  url("fonts/NotoSans-Regular.woff"), /* Pretty Modern Browsers */
  url("fonts/NotoSans-Regular.woff2"), /* Super Modern Browsers */
  url("fonts/NotoSans-Regular.eot"),
  url("fonts/NotoSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000034;
}

.App {
  /*text-align: center;*/
  color: #EEE;
  font-size: calc(10px + 0.5vmin);
  line-height: calc(10px + 1.2vmin);
  font-family: 'NotoSans Regular', Fallback, sans-serif;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.background-noise {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(img/modal-bg-main.png);
	text-align:center;
  z-index: -1;
}

p {
  font-size: calc(10px + 1vmin);
  line-height: calc(10px + 1.4vmin);
  margin-bottom: 0.5rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover, a:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

.new-version-snippet {
  position: absolute;
  top: 3px;
  right: 10px;
}

.new-version-snippet p {
  font-size: 1em;
}

.link-span {
  color: #4a90e2;
  text-decoration: none;
}

.input-title {
  margin-bottom: 4px;
}

.link-span:hover, .link-span:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

#input, #output-area {
  font-size: calc(10px + 0.3vmin);
}

.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.header-wrapper {
  width: 820px;
  margin: 0 auto;
  padding: 0 0;
}

.line {
  height:1px;
  background-color: #3f3c73;
}

.content-wrapper {
  position: absolute;
  top: 80px;
  overflow: auto;
  margin: 10px auto 0 auto;
  width: 100%;
  padding: 0 10px;
}

.content {
  max-width: 820px;
  margin: 0 auto;
}

.tool-dropdown {
  margin-top: 2vh;
}

.tool-dropdown .dropdown-toggle {
  font-size: calc(10px + 1.1vmin);
  width: 400px;
  text-align: left;
}

.command-dropdown {
  margin-top: 2vh;
  margin-bottom: 15px;
}

.command-dropdown .dropdown-toggle {
  font-size: calc(10px + 0.8vmin);
  width: 300px;
  text-align: left;
}

/* Special input width */
.index-input {
  width: 300px;
}

.count-input {
  width: 260px;
}

.QR-container {
  width: 148px;
  height: 148px;
  padding: 10px;
  background-color: #EEE;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.QR-img {
  width: 128px;
  height: 128px;
  cursor: pointer;
}

.QR-container-2x {
  width: 276px;
  height: 276px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.QR-img-2x {
  width: 256px;
  height: 256px;
  cursor: pointer;
}

.QR-container-4x {
  width: 532px;
  height: 532px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.QR-img-4x {
  width: 512px;
  height: 512px;
  cursor: pointer;
}

/* Payment tool */
.QR-container-payment {
  margin-top: 0 !important;
}

/* QR reader style */
.qr-reader-wrapper {
  text-align: left;
}

.qr-canvas {
  max-height: 300px;
  max-width: 100%;
  margin-bottom: 20px;
  border: #eee 1px solid;
}

.btn-primary {
    color: #fff;
    background-color: #4a90e2;
    border-color: #4a90e2;
    margin-right: 20px;
}

.btn-primary:focus {
    box-shadow: none;
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-outline-secondary:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}


.btn-active {
  background-color: #6C757D;
  color: #FFF;
}

/* Medium width button */
.btn-medium {
  width: 140px;
  margin-bottom: 2vh;
}

/* Max min button */
.max-btn {
  width: 48px;
}

/* The left thing of input boxes */
.input-group-prepend, .input-group-text {
  width: 140px;
}

/* Custom width */
.narrow-prepend {
  width: 70px;
}

.narrow-prepend-2 {
  width: 100px;
}

/* Multiple input group on one row */
.multi-group {
  margin-left: 20px;
}

/* Disabled input  */
.form-control:disabled {
  background-color: #cacaca;
}

/* Striped dropdown menu */
.dropdown-menu > a:nth-child(odd) {
  background: #EEE;
}

/* Change color on dropdown menu hover */
.dropdown-item:hover {
  background: #4a90e2 !important;
}

/* Special prepended dropdown button to resemble normal prepend text style */
.dropdown-prepend .dropdown-toggle {
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  display: -webkit-box;
  width: 140px;
  height: 31px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.dropdown-prepend-narrow .dropdown-toggle {
  width: 70px;
}

.index-checkbox {
  margin-bottom: 5px;
}

/* Using radio buttons as title */
.header-radio {
  font-size: calc(10px + 1vmin);
  margin-top: 4px;
}

/* RADIO BUTTONS */
.gpu-load-title, .derivation-title {
  width: 100px;
}

/* AUDIO MESSENGER */
#drop_zone {
  border: 2px dashed #bbb;
  padding: 5px;
  margin-bottom: 14px;
  color: #bbb;
}

/* VANITY TOOLS */
.vanity-stats {
  font-size: calc(10px + 0.4vmin);
  margin-bottom: 10px;
}

.vanity-stats td {
  padding-right: 20px;
}

.vanity-number {
  color: #4a90e2;
  font-weight: bold;
}

/* INSPECTOR TOOL */
.command-help {
  margin-bottom: 15px;
}

/* Visible content to activate if no javascript */
.noscript {
  display: none;
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  margin: 2em 0 0.5em 0 !important;
  color: #e36767;
}

.hidden {
  display: none;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .line {
  margin-bottom: 0;
}

.footer .form-control {
  border-radius: 0;
  font-size: calc(10px + 0.3vmin);
}

.footer .input-group {
  margin-bottom: 5px;
}

.footer-text {
  margin-bottom: 5px;
}

/* Collapsible div */
.collapse-content {
  padding: 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0 0 5px 0;
}

@media screen and (max-width: 992px) {
  h1{font-size: 2rem;}
  .App {
    font-size: calc(10px + 0.5vmin);
    line-height: calc(10px + 1.1vmin);
  }
}

@media screen and (max-width: 812px) {
  .header-wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  h1{font-size: 1.8rem;}
  .App {
    font-size: calc(10px + 0.4vmin);
    line-height: calc(10px + 1.0vmin);
  }
  .header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
  }

  .dropdown-toggle.btn-primary {
    width: 100%;
  }
}

/* Confirm Alert */
.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 0 !important;
}

.react-confirm-alert {
    max-width: 90% !important;
}

.react-confirm-alert-body {
    font-family: inherit !important;
    width: 100% !important;
    padding: 30px !important;
    text-align: left !important;
    background: #fff !important;
    border-radius: 10px !important;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13) !important;
    color: #666 !important;
    overflow-wrap: break-word !important;
}

.react-confirm-alert-body h1 {
  font-size: 2.0rem;
}

/********************************************************************************************************************************************
	Modal content
********************************************************************************************************************************************/
.public_link_copy {
	padding:5px;
	width:100%;
	margin:10px 0 !important;
}

.public_link_modal {
  font-family: 'NotoSans Regular';
}

.public_link_modal .copied {
  display:none;
  padding:5px;
  margin:6px 0;
  color:#849F4F;
  background:#ECF5DA;
  border:1px solid #B1C786;
}

.public_link_modal .copied_not {
  display:none;
  padding:5px;
  margin:6px 0;
  color:#B94A48;
  background:#F2DEDE;
  border:1px solid #EED3D7;
}

.donation-qr {
  width: 150px;
  margin: 0;
}

.form-group {
  margin-bottom: 10px !important;
}

/* ---------- */
.modal_overlay {
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(img/modal-bg.png);
	text-align:center;
	z-index:2000;
	opacity:.9;
}

.modal_psend {
	display:none;
	position: fixed;
	top: 50%;
	left: 50%;
	float: left;
	z-index:5000;

	width:400px;
	height:360px;
	margin:-170px 0 0 -200px;
	background:white;
	color:black;

  border-radius: 7px;
  box-shadow: 0 0 23px, rgba(0, 0, 0, .3);
}

.modal_content {
	margin:15px;
}

.loading-img {
	text-align:center;
}

.modal_content p.loading-img {
	margin:40px auto;
	text-align:center;
}

.modal_content iframe {
	display:none;
}

.modal_title {
	text-align:left;
	position:relative;
	padding:10px;
	background:#eee;
	background:-moz-linear-gradient(top , #f5f5f5, #eee)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee))!important;
	/*text-shadow:0 1px 1px #eee;*/
	color:#888;

	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

}

.modal_title	a {
  position:absolute;
  display:inline-block;
  top:-2px;
  right:10px;
}

.modal_close {
	color:#888;
	font-size:2em;
}
