@font-face {
  font-family: "NotoSans Regular";
  src:
  url("fonts/NotoSans-Regular.woff"), /* Pretty Modern Browsers */
  url("fonts/NotoSans-Regular.woff2"), /* Super Modern Browsers */
  url("fonts/NotoSans-Regular.eot"),
  url("fonts/NotoSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #000034;
}

.App {
  /*text-align: center;*/
  color: #EEE;
  font-size: calc(10px + 0.6vmin);
  line-height: calc(10px + 1.2vmin);
  font-family: 'NotoSans Regular', Fallback, sans-serif;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: calc(10px + 1vmin);
  line-height: calc(10px + 1.4vmin);
  margin-bottom: 0.5rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover, .a:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

#input, #output-area {
  font-size: calc(10px + 0.3vmin);
}

.header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.header-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 0 0;
}

.line {
  height:1px;
  background-color: #3f3c73;
}

.content-wrapper {
  position: absolute;
  top: 80px;
  bottom: 130px;
  overflow: auto;
  margin: 10px auto 0 auto;
  width: 100%;
  padding: 0 10px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.tool-dropdown {
  margin-top: 2vh;
}

.dropdown-toggle {
  font-size: calc(10px + 1.1vmin);
}

/* Special input width */
.index-input {
  width: 300px;
}

.count-input {
  width: 260px;
}

.QR-container {
  width: 148px;
  height: 148px;
  padding: 10px;
  background-color: #EEE;
  text-align: center;
  margin-top: 20px;
}

.QR-img {
  width: 128px;
  height: 128px;
  cursor: pointer;
}

.QR-container-2x {
  width: 276px;
  height: 276px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  text-align: center;
}

.QR-img-2x {
  width: 256px;
  height: 256px;
  cursor: pointer;
}

.QR-container-4x {
  width: 532px;
  height: 532px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  text-align: center;
}

.QR-img-4x {
  width: 512px;
  height: 512px;
  cursor: pointer;
}

/* Payment tool */
.QR-container-payment {
  width: 148px;
  height: 148px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  text-align: center;
}

.QR-img-payment {
  width: 128px;
  height: 128px;
}

/* QR reader style */
.qr-reader-wrapper {
  text-align: left;
}

#qr-canvas {
  max-height: 300px;
  max-width: 100%;
  margin-bottom: 20px;
  border: #eee 1px solid;
}

.btn-primary {
    color: #fff;
    background-color: #4a90e2;
    border-color: #4a90e2;
    margin-right: 20px;
}

.btn-primary:focus {
    box-shadow: none;
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-outline-secondary:focus {
  box-shadow: none;
}

.btn-active {
  background-color: #6C757D;
  color: #FFF;
}

/* Medium width button */
.btn-medium {
  width: 130px;
  margin-bottom: 2vh;
}

/* Max min button */
.max-btn {
  width: 48px;
}

/* The left thing of input boxes */
.input-group-prepend, .input-group-text {
  width: 140px;
}

/* Custom width */
.narrow-prepend {
  width: 70px;
}

/* Multiple input group on one row */
.multi-group {
  margin-left: 20px;
}

/* Disabled input  */
.form-control:disabled {
  background-color: #cacaca;
}

/* Striped dropdown menu */
.dropdown-menu > a:nth-child(odd) {
  background: #EEE;
}

/* Change color on dropdown menu hover */
.dropdown-item:hover {
  background: #4a90e2 !important;
}

/* Special prepended dropdown button to resemble normal prepend text style */
.dropdown-prepend .dropdown-toggle {
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  display: -webkit-box;
  width: 140px;
  height: 31px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.dropdown-prepend-narrow .dropdown-toggle {
  width: 70px;
}

.index-checkbox {
  margin-bottom: 13px;
}

/* Using radio buttons as title */
.header-radio {
  font-size: calc(10px + 1vmin);
  margin-top: 4px;
}

/* PoW GENERATOR TOOL */
.gpu-load-title {
  margin-right: 30px;
}

/* AUDIO MESSENGER */
#drop_zone {
  border: 2px dashed #bbb;
  padding: 5px;
  margin-bottom: 14px;
  color: #bbb;
}

/* VANITY TOOLS */
.vanity-stats {
  font-size: calc(10px + 0.4vmin);
  margin-bottom: 10px;
}

.vanity-stats td {
  padding-right: 20px;
}

.vanity-number {
  color: #4a90e2;
  font-weight: bold;
}

/* Visible content to activate if no javascript */
.noscript {
  display: none;
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  margin: 2em 0 0.5em 0 !important;
  color: #e36767;
}

.hidden {
  display: none;
}

.footer {
  background-color: #000034;
  text-align: center;
  height: 130px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .line {
  margin-bottom: 10px;
}

.footer .form-control {
  border-radius: 0;
}

.footer .input-group {
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  h1{font-size: 2rem;}
  .App {
    font-size: calc(10px + 0.5vmin);
    line-height: calc(10px + 1.1vmin);
  }
}

@media screen and (max-width: 812px) {
  .header-wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  h1{font-size: 1.8rem;}
  .App {
    font-size: calc(10px + 0.4vmin);
    line-height: calc(10px + 1.0vmin);
  }
  .header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
  }

  .dropdown-toggle.btn-primary {
    width: 100%;
  }
}
