@media print {
  .noprint,
  .noprint * {
    display: none;
  }
  html, body, .QR-container, .QR-container-paper, .QR-container-paper-inner, .QR-container-payment,
  .QR-container-general-1x, .QR-container-general-2x, .QR-container-general-4x {
    background-color: #FFF !important;
  }

  .QR-container-payment {
    width: 276px !important;
    height: 276px !important;
  }

  .QR-img-payment {
    width: 256px !important;
    height: 256px !important;
  }
}
